*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
}

html{
    overflow: hidden;
}

.dark{
    background-color: #242327;
}

.type-big{
    position: fixed;
}

.home, .search, .settings, .fave{
    opacity: 0 !important;
    visibility: hidden !important;
    transition: all 0.25s ease !important;
}

.show.home, .show.search, .show.settings, .show.fave{
    opacity: 1 !important;
    visibility: visible !important;
}

.home{
    width: calc(100% - 100px);
    height: 100%;
    z-index: 1;
    background-color: #fbfbfb;
    transition: all 0.5 ease;
    overflow-y: scroll;
}

.home .welcome img{
    width: 45px;
    height: 45px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 50%;
    transition: all 0.5s ease;
}

.dark .home img{
    filter: saturate(4);
}

.home .hello:hover img{
    filter: grayscale();
}

.dark .type-big{
    background-color: #242327;
    color: #fff;
}

.settings{
    width: calc(100% - 100px);
    height: 100%;
    z-index: 2;
    background-color: #fff;
    transition: all 0.5 ease;
}

.search{
    width: calc(100% - 100px);
    height: 100%;
    z-index: 3;
    background-color: #fff;
    transition: all 0.5 ease;
}

.fave{
    width: calc(100% - 100px);
    height: 100%;
    z-index: 4;
    background-color: #fff;
    transition: all 0.5 ease;
}

.footer{
    position: fixed;
    width: 100px;
    height: 100%;
    background-color: #242327;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -4px 0 10px #0005;
    /* gap: 20vh; */
}

.dark .footer{
    background-color: #000;
}

.footer button{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    color: #242327;
    font-size: 20px;
    opacity: 0.5;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0px 0px 10px #0008;
}

.dark .footer button{
    background-color: #fff;
    color: #000;
    /* opacity: 1; */
}

.footer button i{
    transition: all 0.5s ease;
}

.footer button.active{
    opacity: 1;
}

.footer button:hover, .footer button:focus{
    opacity: 1;
    scale: 1.15;
}

.footer button.active .fa-gear{
    transform: rotate(360deg);
}


/* skeleton setup ends here */

.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home .welcome{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.home .hello{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 45px;
    color: #5c5c5c;
}

.home .featured{
    padding: 20px 0;
}

.featured .featured--about{
    padding: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom: 2px solid #9995;
    margin: 0 20px;
    margin-bottom: 20px;
}

.featured .featured-items-holder{
    padding: 20px;
    padding-left: 40px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 50px;
}

.featured .featured-items-holder .featured--item{
    min-width: 200px;
    height: 200px;
    background-color: #242327;
    border-radius: 30px;
    padding: 20px;
    color: #fff;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px #0003;
    position: relative;
}

.featured--item img{
    position: absolute;
    width: 20px;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.5s ease;
}

.dark .featured--item img{
    border: 2px solid #000;
}

.featured--item > div:nth-child(2){
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    color: #000;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.dark .featured--item > div:nth-child(2){
    background-color: #000;
    color: #fff;
}

.dark .currency-value{
    color: #000;
}



.dark .featured .featured-items-holder .featured--item{
    background-color: #e8e8e8;
    color: #fff;
}

.featured .featured-items-holder .featured--item:hover{
    scale: 1.2;
}

.home .watchlist{
    padding: 0;
}

.home .watchlist--about{
    /* background-color: red; */
    padding: 20px;
    margin: 0 20px 0 20px;
    border-bottom: 2px solid #9995;
    display: flex;
    justify-content: space-between;
}

.home .watchlist-items-holder{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    /* gap: 20px; */
    height: 30vh;
    max-height: 300px;
    min-height: 200px;
}

.home .watchlist--item{
    padding: 20px;
    background-color: transparent;
    color: #242327;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
}

.home .watchlist--item:hover{
    background-color: #242327;
    /* margin: 20px 0; */
    color: #fff;
}

.dark .watchlist--item{
    color: #fff;
}

.dark .watchlist--item:hover{
    background-color: #fff;
    color: #000;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.show-footer{
    display: none;
}


.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.search .header{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0005;
    cursor: pointer;
    /* margin-bottom: 50px; */
}

.search form{
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #000;
}

.search form input{
    padding: 10px;
    border: none;
    outline: none;
    outline: none;
}

.search form button{
    background-color: #000;
    border: none;
    color: #fff;
    padding: 10px;
    outline: none;
}

.search .result{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background-color: #000;
    color: #fff;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #0005;
    transition: all 0.5s ease;
    scale: 0;
    visibility: hidden;
    z-index: 11;
}

.backdrop-result{
    position: fixed;
    z-index: 10;
    background-color: rgba(12, 11, 14, 0.757);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
}

.show.backdrop-result{
    opacity: 1;
    visibility: visible;
}

.search .show.result{
    scale: 1;
    visibility: visible;
}

.search .result div:first-child{
    padding: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    letter-spacing: 1px;
}

.settings{
    display: flex;
}

.settings .app-about{
    width: 100%;
    text-align: center;
    padding: 30px;
    border-right: 7px solid #ccc3;
}

.settings h2{
    margin-bottom: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings h2::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 7px;
    border-radius: 40px;
    background-color: #ccc2;
    transform: translateY(30px);
}

.settings p{
    margin-bottom: 10px;
    line-height: 30px;
    color: #777;
}

.settings .mylinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.settings a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242327;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.5s ease;
    text-decoration: none;
}

.settings a:nth-child(2){
    background-color: rgb(22, 153, 205);
}

.settings a:nth-child(3){
    background-color: rgb(22, 40, 205);
}

.settings a:nth-child(4){
    background-color: rgb(205, 22, 22);
}

.settings a:hover{
    scale: 1.15;
}

.settings .app-settings{
    text-align: center;
    width: 100%;
    padding: 30px;
}

.settings .settings-items-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.settings .settings-items-holder .settings--item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242327;
    color: #fff;
    width: 200px;
    height: 60px;
    /* padding: 20px; */
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.dark .settings-items-holder .settings--item{
    background-color: #000;
}

.settings .settings-items-holder .settings--item:hover{
    background-color: #000;
    width: 250px;
}

.settings .settings-items-holder .settings--item .abt{
    margin-right: 20px;
}

.settings .settings-items-holder .settings--item .toggle{
    color: #aaa;
}

.settings .settings-items-holder .settings--item:last-child .toggle{
    color: gold;
}

.settings-nav{
    display: none;
}

.settings .settings--item a{
    /* padding: 0 30px; */
    border-radius: 0px;
    background-color: transparent;
}

.fave{
    display: flex;
    flex-direction: column;
}

.fave .top-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.fave .top-section p{
    max-width: 300px;
    text-align: center;
    line-height: 30px;
    color: #777;
}

.fave .top-section p:first-child{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    color: #000;
}

.dark .fave .top-section p:first-child{
    color: #fff;
}

.fave .bottom-section{
    height: 100%;
    background-color: #777;
}

.fave .bottom-section .fave-items-holder{
    display: flex;
    flex-direction: column;
    padding: 30px;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    overflow-y: scroll;
}

.fave .bottom-section .fave-items-holder .fave--item{
    width: 200px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.fave .bottom-section .fave-items-holder .fave--item button{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.fave .bottom-section .fave-items-holder .fave--item button:first-child:hover{
    opacity: 0.3;
    scale: 0.8;
}

.fave .bottom-section .fave-items-holder .fave--item button:last-child{
    margin-left: 10px;
    color: red;
}

.fave .bottom-section .fave-items-holder .fave--item button:last-child:hover{
    transform: rotate(360deg);
}

.fave .re-search{
    display: none;
}



@media screen and (max-width: 700px) {
    .type-big{
        width: 100%;
    }

    .dark .home, .dark .search, .dark .settings, .dark .fave{
        background-color: #000;
    }

    .dark .featured .featured-items-holder .featured--item{
        background-color: #fff;
    }

    
    .footer button{
        width: 40px;
        height: 40px;
        background-color: transparent;
        color: #fff;
        transition: all 0.25s ease;
        box-shadow: 0px 0px 10px transparent;
        font-size: 17px;
        border-radius: 50%;
        border: 3px solid #242327;
        opacity: 1;
        color: #aaa;
    }

    .dark .header{
        border: 2px solid #fff5;
    }

    .dark .show.result{
        color: #000;
        background-color: #fff;
    }

    .dark .show.result > div:first-child{
        background-color: #000;
        color: #fff;
    }

    .dark .footer{
        border-top: 2px solid #fff9;
    }

    .dark .search form{
        background-color: #fff;
        border: 2px solid #fff !important;
    }

    .dark .search form button{
        background-color: #000;
        border-radius: 50%;        
    }

    .footer button.active{
        color: #242327 !important;
        scale: 1.5;
        opacity: 1;
        border: 3px solid #242327;
        transform: translateY(-15px);
        background-color: #fff;
    }


    .footer button i{
        transition-property: color, transform;
        transition-duration: 0.1s, 1s;
        transition-timing-function: ease, ease;
    }

    .dark .footer button{
        background-color: transparent;
        border-color: transparent;
        color: #999;
    }
    
    .dark .footer button.active{
        border-color: #fff;
        background-color: #fff;
    }

    .footer{
        transform: translateY(150%);
        top: calc(100% - 60px);
        height: 60px;
        width: 100vw;
        flex-direction: row;
        transition: all 0.5s ease;
    }

    .footer.show{
        transform: translateY(0);
    }

    .show-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 6;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #000;
        color: #fff;
        opacity: 0;
        scale: 0;
        transition: all 0.5s ease;
    }
    
    .show.show-footer{
        opacity: 0.4;
        scale: 1;
    }

    .dark .show-footer{
        background-color: #fff;
        color: #000;
    }

    .settings h2{
        display: none;
    }

    .settings{
        /* padding-top: 30px; */
        flex-direction: column;
    }

    .settings-nav{
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 1.5px;
        font-weight: bolder;
        color: #242327;
        transition: all 0.5s ease;
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100vw;
        background-color: transparent;
    }

    .dark .settings-nav{
        color: #fff;
    }

    .settings .app-about{
        border: none;
        padding-top: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .settings .app-settings{
        background-color: #777;
        height: 100%;
        overflow-y: scroll;
    }
    
    .settings .app-settings .settings--item{
        background-color: #000;        
    }

    .home, .search, .fave, .settings{
        transform: scale(1.8);
    }

    .show.home, .show.fave, .show.search, .show.settings{
        transform: scale(1);
    }

    .home .featured .featured-items-holder .featured--item{
        min-width: 170px !important;
        height: 170px;
        padding: 0px !important;
    }



}

.prelaoder{
    width: 100vw;
    height: 100%;
    background-color: #fff;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: preloader 0.5s ease forwards;
    animation-delay: 3s;
}

@keyframes preloader {
    0%{}
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.preloader-holder{
    width: 200px;
    height: 200px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(38, 40, 50);
    box-shadow: 0px 0px 10px rgb(38, 40, 50);
    /* gap: 30px; */
    /* animation: preloader-holder 1s ease-in-out forwards infinite alternate; */
}

.preloader-holder > div{
    position: absolute;
    font-size: 30px;
    color: goldenrod;
}

.x.i{
    animation: xi ease 1s forwards infinite alternate;
}

.o.i{
    animation: oi ease 1s forwards infinite alternate;
}

.x.ii{
    animation: xii ease 1s forwards infinite alternate;
}

.o.ii{
    animation: oii ease 1s forwards infinite alternate;
}

@keyframes xi {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(-35px, -35px);
    }
}

@keyframes oi {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(35px, -35px);
    }
}

@keyframes xii {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(35px, 35px);
    }
}

@keyframes oii {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(-35px, 35px);
    }
}